<li class='comment' id="comment_#{comment.id}">
  <div> <%= comment.body %> </div>
  <% if current_user&.author_of?(comment) %>
    <div> <%= link_to 'Delete comment' %> </div>
    <div> <%= link_to 'Edit comment' %> </div>
  <% end %>
</li>